body {
    font-family:'Lucida Sans' ;
    background-color: #FDFFFC;
    color: #161925;
}

button {
    font-size: large;
}

.pageTitle {
  padding-top: 1%;
  margin-left: 5%;
}

.columnTitle {
    margin-top: 2%;
    text-align: center;
  }

  .columnStyling {
    background-color: #f5f1ee;
    border: 1px solid #f5f1ee;
    border-radius: 4px;
    height: 100%;
  }

  .boxStoreStyling {
    margin-top: 3%;
  }

  .storeImage {
    margin: 5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .dropdownBox {
    margin-left: 20%;
    text-align: center;
  }

  .boxText {
    padding: 2%;
    text-align: center;
  }

  .boxSpecs {
    margin-left: 1%;
  }

  .boxSpecsTitle {
    padding-left: 5%;
  }

  .buttonLoan {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60%;
    border: 1px solid #08e313;
    border-radius: 4px;
    background-color: #08e313;
  }

  .buttonRepayLoan {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60%;
    border: 1px solid #08e313;
    border-radius: 4px;
    background-color: #08e313;
  }

  .buttonBank {
    margin-top: 20%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 35px;
    width: 40%;
    border: 1px solid #08B2E3;
    border-radius: 4px;
    background-color: #08B2E3;
  }

  .buttonWork {
    margin-top: 20%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    height: 35px;
    width: 40%;
    border: 1px solid #EE6352;
    border-radius: 4px;
    background-color: #EE6352;
  }

  .buttonStore {
    margin: 7.5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60%;
    border: 1px solid #dfe308;
    border-radius: 4px;
    background-color:#dfe308;
  }

  .columnStoreStyling {
    background-color: #f5f1ee;
    border: 1px solid #f5f1ee;
    border-radius: 4px;
    height: auto;
  }

  .dropdownStyling {
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60%;
  }

  .storeImage {
    margin: 5% 15%;
  }
